{{#if addProduct}}
<form action="products" method="POST"></form>

<label>New Product Name: 
  <input type="text" name=" Name" id="">
</label>

<label>Price $: 
  <input type="number" name="price" id="">
</label>

<label>Inventory: 
  <input type="number" name="inventory" id="">
</label>

</form>
<input type="submit" value="Submit"> {{/if}}

</form>
<br>{{> footer}}